body {
    background :rgb(53, 53, 53);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: rgb(255, 255, 255);
    background-image: url(images/hero.jpg);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 10px 210px;
    text-align: left;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top 30px;
}

header .logo a {
    background-image: url(images/logo.png);
    background-size: 64px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    position: relative;
    text-indent: -9999999px;
    width: 64px;
}

/* Navigation */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: black
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Features */

.features {
    background: rgb(53, 53, 53);
    color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.features figure {
    margin: auto;
    width: 100px;
}

.features figure img {
    border: 1px solid white;
    box-shadow: black 0px 0px 10px;
    width: 200px;
}

footer {
    background: rgb(22, 22, 22);
    padding: 10px 20px;
}

/* Images Under Footer */

.imagesUnderFooter {
    background: rgb(53, 53, 53);
    color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.imagesUnderFooter figure {
    margin: auto;
    width: 100px;
}

.imagesUnderFooter figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: black 0px 0px 10px;
    width: 200px;
}