h1 {
    color : #FF0000
}

h2 {
    color : #FF7C00
}

body {
    background-color : #292929
}

button {
    background-color: yellow;
}

div

button2 {
    background-color: #08FF00;
}

a {
    color : black
}